body {
  background-image: url('image/fon.jpg');
  background-size: cover;
  margin-left: 20px;
  margin-right:20px ;
  padding: 0;
  font-family: Arial, sans-serif;
  
}

p {
  text-align: justify;
  margin-left: 0 5px;
  font-style: italic;
  color: white;

}

p:first-of-type::first-line {
  color: red;
}

h1 {
  font-style: normal;
  text-align: center;
  font-weight:800;
  color: #C71585 ;    
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

pre{
  font-size: 15px;
  color:white;
}

code {
  color: white;
  font-size: 15px ;
}

a:link {
  color:#C71585  ; 
}

a:visited {
  color: #990099; /* Додайте власний колір */
}

a:hover,
a:active {
  color: #ff0000; /* Додайте власний колір */
}